.campaign-created {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 1rem 1rem 1rem;
}
.campaign-created .success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.campaign-created .success .success-icon {
  width: 100px;
  height: 100px;
  border: 4px solid #5BC17F;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campaign-created .success .success-icon img {
  width: 55.422px;
  height: 40.784px;
}
.campaign-created .success .success-text {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.5%;
  text-align: center;
}
.campaign-created .url-container {
  margin-top: 3rem;
  height: 260.168px;
  width: 100%;
  background-color: rgba(91, 193, 127, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.url-container .url{
  word-break: break-all;
  text-align: center;
  padding: 0px 26px;
}
.campaign-created .url-container .heading {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.5%;
  text-align: center;
}
.campaign-created .url-container .url a {
  color: #1293EC;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.5%;
  text-decoration: none;
  word-break: break-all;
  text-align: center;
}
.campaign-created .url-container .action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.campaign-created .url-container .action-container .copy {
  padding: 12px 16px;
  color: var(--White-Full, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  border: none;
  background-color: #5BC17F;
}
.campaign-created .url-container .action-container .view {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #5BC17F;
  color: #5BC17F;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.campaign-created .url-container .action-container .view img {
  width: 16px;
  height: 16px;
}
.campaign-created .share-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
}
.campaign-created .share-actions .edit {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.campaign-created .share-actions .share {
  text-decoration: none;
  background-color: #FFF;
  border: none;
  outline: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
@media (min-width: 576px) {
  .campaign-created #share-link-modal .modal-dialog {
    max-width: 823.774px;
  }
}
.campaign-created #share-link-modal .modal-content .modal-header {
  border: none;
  padding: 2rem 2rem;
}
.campaign-created #share-link-modal .modal-content .modal-header .modal-title {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.campaign-created #share-link-modal .modal-content .modal-body {
  padding: 1rem 2rem;
}
.campaign-created #share-link-modal .modal-content .modal-body .iframe-container {
  width: 100%;
  height: 289.378px;
  padding: 1rem;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #E5E5E5;
  word-break: break-all;
}
.campaign-created #share-link-modal .modal-content .modal-footer {
  border: none;
  padding: 1rem 2rem;
}
.campaign-created #share-link-modal .modal-content .modal-footer .cancel {
  background-color: transparent;
  border: none;
  outline: none;
  color: #5BC17F;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.campaign-created #share-link-modal .modal-content .modal-footer .save {
  border-radius: 8px;
  background-color: #5BC17F;
  border: none;
  outline: none;
  padding: 12px 16px;
  color: var(--White-Full, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 465px) {
  .campaign-created #share-link-modal .modal-content .modal-body .iframe-container {
    height: -moz-max-content;
    height: max-content;
  }
}
@media (max-width: 465px) {
  .campaign-created .url-container {
    height: -moz-max-content;
    height: max-content;
    padding: 3rem 0;
  }
  .campaign-created .url-container .action-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=campaign-created.css.map */