@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.donate-noe-layout {
    .rectangle {
        position: relative;
        height: 400px;

        padding: 4;
        background-color: #5BC17F;

        .header {
            .main {
                margin-top: 25px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                // .icon {}

                .profile {
                    width: 50%;
                    height: 100%;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;

                    .items {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;

                        .notification {
                            .notification-circle {
                                width: 37.353px;
                                height: 37.353px;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                border-radius: 50px;
                                background-color: #FFF;
                                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);

                                cursor: pointer;

                                svg {
                                    width: 18.25px;
                                    height: 20.28px;
                                }
                            }
                        }

                        .profile-section {
                            .profile-info {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.5rem;

                                cursor: pointer;

                                .profile-icon {
                                    width: 37.353px;
                                    height: 37.353px;

                                    background-color: #5BC17F;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .profile-name {
                                    color: #FFF;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 166.5%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .donate-now-container {
            display: flex;
            gap: 4.2rem;

            height: 842.068px;

            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, 0px);

            .left {
                width: 50%;

                .title {
                    margin-top: 2rem;

                    color: #FFF;
                    font-family: Poppins;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                }

                .description {
                    margin-top: 1rem;

                    color: #FFF;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }

                .icon {
                    margin-top: 7rem;

                    img {
                        width: 536.399px;
                        height: 526.62px;
                        object-fit: cover;
                    }
                }
            }

            .right {
                width: 50%;

                .title {
                    margin-top: 2rem;

                    color: #FFF;
                    font-family: Poppins;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                }

                .date {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    .icon {
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .text {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0.08px;
                    }
                }

                .venue {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    margin-top: 0.5rem;

                    .icon {
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .text {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0.08px;
                    }
                }

                .buy-btn {
                    margin-top: 2rem;

                    button {
                        width: 241px;
                        height: 54px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 8px;
                        border: none;
                        background: #FFF;

                        color: #000;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                .details {
                    margin-top: 1rem;

                    p {
                        margin: 0;
                        padding: 0;

                        color: #000;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: 0.09px;

                        white-space: pre-line;
                    }
                }

                .organizer {
                    display: flex;
                    flex-direction: column;

                    margin-top: 2rem;

                    .heading {
                        color: #000;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                    }

                    .name {
                        color: #000;
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .donate-noe-layout .rectangle .donate-now-container {
      display: block;
      position: unset;
      transform: none;
      height: auto;
      margin-top: 130px;
      padding-bottom: 14px;
    }
    .donate-noe-layout .rectangle .donate-now-container .left{
      width: 100%;
    }
    .donate-noe-layout .rectangle .donate-now-container .right{
      width: 100%;
    }
    .donate-noe-layout .rectangle .donate-now-container .left .icon img{
      width: 100%;
    }
    .donate-now-card .card{
      margin-bottom: 80px;
      height: auto !important;
    }
    .donate-now-card .card .card-top .form-container form .amount-item .static-amount .item{
      margin-bottom: 10px;
    }
    .donate-now-card .card .card-top .form-container form .frequency-item .frequency-types .type{
      margin-bottom: 10px;
    }
  }
  