.donors {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 1rem 1rem 1rem 2rem;
}
.donors .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.donors .heading .text {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.5%;
}
.donors .heading .filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.donors .heading .filters .input-date input {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #DDDFE5;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(220, 224, 249, 0);
  outline: none;
  height: 48px;
  color: #949494;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.donors .heading .filters .input-date input::-moz-placeholder {
  color: #000;
}
.donors .heading .filters .input-date input::placeholder {
  color: #000;
}
.donors .heading .filters .select-membership select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #DDDFE5;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(220, 224, 249, 0);
  outline: none;
  height: 48px;
  color: #949494;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.donors .heading .filters .btn-download button {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 1px solid #DDDFE5;
}
.donors .heading .filters .btn-add-csv button {
  border-radius: 8px;
  border: 1px solid #5BC17F;
  padding: 12px 16px;
  background-color: transparent;
  color: #5BC17F;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.donors .datatable {
  margin-top: 1rem;
  overflow-x: auto;
}
.donors .datatable table {
  width: 80%;
}
.donors .datatable table thead tr th {
  padding: 1rem 2rem;
  background-color: #FAFAFB;
  color: var(--Grey-500, #AEAEAE);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08px;
}
.donors .datatable table tbody tr {
  border-bottom: 1px solid #DDDFE5;
}
.donors .datatable table tbody tr .name {
  padding: 1.5rem 2rem;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.donors .datatable table tbody tr .amount {
  padding: 1.5rem 2rem;
  color: var(--Black, #303030);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.07px;
}
.donors .datatable table tbody tr:last-child {
  border: none;
}

@media (max-width: 768px) {
  .donors .heading {
    flex-direction: column;
    gap: 10px;
  }
  .donors .heading .text {
    width: 100%;
    text-align: start;
  }
  .donors .heading .filters {
    width: 100%;
    justify-content: start;
  }
  .donors .datatable table {
    width: 100%;
  }
}
@media (max-width: 595px) {
  .donors .heading .filters {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=donor.css.map */