.settings {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    padding: 1rem;

    .heading {
        color: #0D161A;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 166.5%;
    }

    .tabs-container {
        margin-top: 1.5rem;

        .nav {
            border-bottom: 2px solid #E5E7EB;

            .nav-item {
                position: relative;

                .nav-link {
                    color: #1F2937;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.07px;

                    outline: none;

                    padding: 15px 20px;

                    &.active {
                        background-color: transparent;
                        color: #5BC17F;
                        border-radius: 0;

                        &::after {
                            content: "";
                            border-bottom: 2px solid #5BC17F;
                            display: block;
                            width: 100%;
                            position: absolute;
                            bottom: -2px;
                            right: 0;
                        }
                    }
                }
            }
        }

        .tab-content {
            .tab-pane {
                .profile {
                    .form-container {
                        form {
                            .form-control-name {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 0.5rem;

                                margin-top: 20px;

                                label {
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.36px;
                                }

                                input[type='text'] {
                                    padding: 1rem;

                                    border-radius: 15px;
                                    border: 1px solid #E5E5E5;
                                    outline: none;

                                    color: #000;

                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.32px;
                                }

                                input[type='text']::placeholder {
                                    color: #949494;
                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.32px;
                                }
                            }

                            .form-control-email {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 0.5rem;

                                margin-top: 20px;

                                label {
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.36px;
                                }

                                input[type='email'] {
                                    padding: 1rem;

                                    border-radius: 15px;
                                    border: 1px solid #E5E5E5;
                                    outline: none;

                                    color: #000;

                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.32px;
                                }

                                input[type='email']::placeholder {
                                    color: #949494;
                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.32px;
                                }
                            }

                            .form-control-password {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 0.5rem;

                                margin-top: 20px;

                                label {
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.36px;
                                }

                                button {
                                    width: 200px;

                                    border-radius: 8px;
                                    border: 1px solid #5BC17F;
                                    outline: none;

                                    padding: 12px 16px;

                                    background-color: #FFF;

                                    color: #5BC17F;
                                    font-feature-settings: 'clig' off, 'liga' off;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }

                            .form-control-country {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 0.5rem;

                                margin-top: 20px;

                                label {
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.36px;
                                }

                                select {
                                    padding: 1rem;

                                    border-radius: 15px;
                                    border: 1px solid #E5E5E5;
                                    outline: none;

                                    color: #000;

                                    font-family: Poppins;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.32px;
                                }
                            }

                            .form-control-number {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                gap: 0.5rem;

                                margin-top: 20px;

                                label {
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.36px;
                                }

                                input[type='tel'] {
                                    width: 100%;

                                    border-radius: 15px;
                                    border: 1px solid #E5E5E5;
                                    outline: none;

                                    margin-top: 10px;

                                    height: 65.932px;
                                }

                                .iti__flag-container {
                                    display: flex;
                                    align-items: center;
                                }

                                .iti__selected-flag {
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                    padding: 0 15px 0 30px;

                                    width: 100%;
                                    height: 40px;

                                    border-right: 1px solid #E5E5E5;
                                }

                                .iti--allow-dropdown input[type=tel] {
                                    padding-left: 88px;
                                }
                            }

                            .submit {
                                margin-top: 20px;

                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-end;

                                button {
                                    padding: 12px 16px;

                                    border-radius: 8px;
                                    background-color: #5BC17F;
                                    outline: none;
                                    border: none;

                                    color: var(--White-Full, #FFF);
                                    font-feature-settings: 'clig' off, 'liga' off;
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                        }
                    }

                    #change-password-modal {
                        @media (min-width: 576px) {
                            .modal-dialog {
                                max-width: 823.774px;
                            }
                        }

                        .modal-content {
                            .modal-header {
                                border: none;
                                padding: 2rem 2rem;

                                .modal-title {
                                    color: #000;
                                    font-feature-settings: 'clig' off, 'liga' off;
                                    font-family: Poppins;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
                                }
                            }

                            .modal-body {
                                padding: 1rem 2rem;

                                .form-control-old-password {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    gap: 10px;

                                    margin-bottom: 20px;

                                    label {
                                        color: #000;
                                        font-family: Poppins;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.36px;
                                    }

                                    input[type='password'] {
                                        padding: 1rem;

                                        border-radius: 15px;
                                        border: 1px solid #E5E5E5;
                                        outline: none;

                                        color: #000;

                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.32px;
                                    }

                                    input[type='password']::placeholder {
                                        color: #949494;
                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.32px;
                                    }
                                }

                                .form-control-new-password {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    gap: 10px;

                                    margin-bottom: 20px;

                                    label {
                                        color: #000;
                                        font-family: Poppins;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.36px;
                                    }

                                    .new-password-container {
                                        position: relative;

                                        input {
                                            padding: 1rem;

                                            border-radius: 15px;
                                            border: 1px solid #E5E5E5;
                                            outline: none;

                                            width: 100%;

                                            color: #000;

                                            font-family: Poppins;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.32px;
                                        }

                                        input::placeholder {
                                            color: #949494;
                                            font-family: Poppins;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.32px;
                                        }

                                        .password-icon {
                                            display: flex;
                                            align-items: center;

                                            position: absolute;
                                            top: 50%;
                                            right: 15px;
                                            transform: translateY(-50%);

                                            color: #949494;
                                            
                                            cursor: pointer;

                                            .feather-eye-off {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .form-control-confirm-password {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    gap: 10px;

                                    label {
                                        color: #000;
                                        font-family: Poppins;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.36px;
                                    }

                                    input[type='password'] {
                                        padding: 1rem;

                                        border-radius: 15px;
                                        border: 1px solid #E5E5E5;
                                        outline: none;

                                        color: #000;

                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.32px;
                                    }

                                    input[type='password']::placeholder {
                                        color: #949494;
                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.32px;
                                    }
                                }

                                .submit-actions {
                                    border: none;
                                    padding: 1rem 2rem;

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-end;
                                    align-items: center;
                                    gap: 25px;

                                    .cancel {
                                        background-color: transparent;
                                        border: none;
                                        outline: none;

                                        color: #5BC17F;
                                        font-feature-settings: 'clig' off, 'liga' off;
                                        font-family: Poppins;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                    }

                                    .save {
                                        border-radius: 8px;
                                        background-color: #5BC17F;
                                        border: none;
                                        outline: none;

                                        padding: 12px 16px;

                                        color: var(--White-Full, #FFF);
                                        font-feature-settings: 'clig' off, 'liga' off;
                                        font-family: Poppins;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}